
*.pyc

*bak*.hda
*.db
*bak*.hip*
*Thumbs.db
*recovered*.hip*
*filecache*.bgeo.sc*
*.db
*.old
*bak*.hda
*GreyscalegorillaHoudiniConnect*
nuke/init/Cattery/SegmentAnything/cat.json
nuke/init/Cattery/SegmentAnything/cattery_segment_anything.py
nuke/init/Cattery/SegmentAnything/sam_medium.cat
nuke/init/Cattery/SegmentAnything/SegmentAnything@2x.png
nuke/init/Cattery/SegmentAnything/SegmentAnything.png
nuke/init/Cattery/SegmentAnything/SegmentAnything.gizmo
nuke/*/Cattery/*
